        /* For tablets */
@media screen and (max-width: 768px){
/* FOR INDEX */

    /* logo and title */
    #logo{
        width: 230px;
    }
    h1{
        font-size: 2.6rem !important;
        margin-top: 10px;
    }

    /* nav bar (header and footer) */
    li a{
        font-size: 0.8rem;
    }

    /* section */
    h3{
        font-size: 1.4rem;
    }
    p{
        font-size: 0.9rem;
    }
    #droite{
        padding: 5px !important;
    }
    
/* FOR FORM */

    legend{
        font-size: 1.2rem;
    }
    label, .font{
        font-size: 1rem;
    }
/* FOR ARRAY */
    /* Images of the table */
    td img {
        width: 120px; 
    }

}
        /* For smartphones */
@media screen and (max-width: 576px){
/* FOR INDEX */

    /* logo and title */
    #logo{
        width: 80px;
    }
    h1{
        font-size: 1rem !important;
    }
    /* section */
    h3{
        font-size: 1.2rem;
    }
    p{
        font-size: 0.8rem;
    }
/* FOR FORM */
    legend{
        font-size: 1.1rem;
    }
    label, .font{
        font-size: 0.9rem;
    }

/* FOR ARRAY */
    
    /* Images of the table */
    td img {
       width: 80px; 
    }

}